doctype htm5
head 
	title #{title} - My Site 
	link(rel='stylesheet', href='/stylesheets/style.css') 

	body 
		header 
			h1 My Site 
		
		.container 
			.main-content 
				block content 
			.sidebar 
				block sidebar 
			footer 
				p Running on node with Express, Jade and Stylus 